
/.settings
/core/.project
/core/.settings
/core/target
/core/.classpath
/documentation/.project
/documentation/.settings
/monitor/.project
/monitor/.settings
/monitor/.classpath
/.project
/monitor/target
/documentation/target
/collections/.settings
/collections/.project
/collections/.classpath
/collections/target