<configuration scan="false">
	<appender name="RootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%p|%c{40}|%t|%m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.turbospaces" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RootConsoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="RootConsoleAppender" />
	</root>
</configuration>